@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap:100,200,300,400,500,600,700');

body {
    font-family: 'Antic Didone', sans-serif;
    min-width: 300px;
    padding-top: 50px;
}

/* ---------------------------------------------------- Header */

.navbar {
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #d3d3d3;
    border: 0;
}

.navbar .navbar-brand {
    font-weight: 700;
}

.navbar-brand img {
    padding-right: 5px;
}

.navbar .navbar-toggler {
    border: 0;
}


/* ---------------------------------------------------- Footer */

footer {
    text-align: center;
    background-color: #d3d3d3;
    color: black;
    height: 100px;
    min-width: 300px;
    margin: 0;
}

.social {
    font-family: "Antic Didone", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.social-links li {
    padding: 0 5px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ee0946;
}

.footer-details {
    padding-top: 15px;
}

/* ---------------------------------------------------- Home */

.intro-header {
    font-family: "Antic Didone", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ee0946;
    padding-top: 100px;
    padding-bottom: 30px;
}

.intro-subheader {
    font-family: "Antic Didone", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ee0946;
    padding-bottom: 100px;
}

.intro-video {
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.intro-video iframe,
.intro-video object,
.intro-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.container-current-champs {
    padding: 20px;
}

.year-cup {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ee0946;
}

.sub-title {
    padding-left: 60px;
    padding-right: 60px;
}

.sub-title-year {
    font-size: 25px;
    text-align: center;
    color: #ee0946;
    vertical-align: middle;
}

.sub-title-text{
    font-size: 20px;
    text-align: center;
    color: #808080;
    vertical-align: middle;
}

.intro-btn {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 80px;
}

.btn--home {
    font-weight: 700;
    border-radius: 5px;
}

/* ---------------------------------------------------- About */

.top-container {
    position: relative;
    text-align: center;
}

.top-pic-about {
    height: 130px;
    background-image: url('../images/arena-inside.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-header {
    font-size: 25px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 71.5%;
    left: 0;
    padding: 0;
}

.about-container {
    background-color: #d3d3d3;
    padding-bottom: 20px;
}

.section-header {
    font-family: "Antic Didone", sans-serif;
    font-size:30px;
    font-weight: 700;
    text-align: center;
    color: #ee0946;
    padding-top: 30px;
    padding-bottom: 20px;
}

.about-text {
    font-family: "Antic Didone", sans-serif;
    font-size:20px;
    font-weight: 500;
    color: black;
    text-align: center;
    padding-top: 20px;
}

.honours-head {
    color: #808080;
    font-size: 20px;
    font-weight: 700;
}

.container-honours {
    padding-top: 30px;
    padding-bottom: 40px;
}

.honour-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pic-cup {
    text-align: center;
}

.number-cup {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ee0946;    
}

.name-cup {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #808080;    
}

.block-divider-honours {
    width: 40%;
    height: 2px;
    border: 0;
    background-color: #ee0946;
    margin-bottom: 80px;
}

/* ---------------------------------------------------- Team */

.btn--team {
    font-weight: 700;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 4px;
}

.selector-btn {
    padding-top: 20px;
    padding-left: 16px;
}

.field-position {
    padding-top: 60px;
    padding-bottom: 30px;
}

.field-position-header {
    color: #808080;
}

.player-pic {
    height: 250px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.shirt-number {
    position: absolute;
    top: 15px;
    left: 70px;
    color: black;
    background-color: rgba(0,0,0,0.15);
    font-size: 20px;
    border: 0.125rem solid black;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.text-centered1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.7);
    padding: 0 5px;
    font-size: 17px;
}

.text-centered2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,+140%);
    background-color: rgba(0,0,0,0.7);
    padding: 0 5px;
    font-size: 13px;
}

.player-pic:hover img {
    opacity: 0.6;
}

.player-pic:hover .text-centered1 {
    display: block;
}

.player-pic:hover .text-centered2 {
    display: block;
}

.block-divider-team {
    width: 40%;
    height: 2px;
    border: 0;
    background-color: #ee0946;
    margin-top: 60px;
    margin-bottom: -20px;
}

.spaceholder {
    padding-bottom: 60px;
}

/* ---------------------------------------------------- Fixtures */

.top-pic-fixtures {
    height: 130px;
    background-image: url('../images/line.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fixtures {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.btn--fixtures {
    font-weight: 700;
    border-radius: 5px;
    margin-top: 2px;
}

.next-match-container-mobile {
    height: 150px;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: .5px;
    border-color: #c0c9d4;
    text-align: center;
}

.next-match-container-desktop {
    height: 150px;
    max-width: 400px;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: .5px;
    border-color: #c0c9d4;
    text-align: center;
}

.next-match-head {
    color: #ee0946;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.tournament {
    font-weight: 700;
}

.next-match-score {
    background-color: white;
    height: 25px;
    border-style: solid;
    border-width: .3px;
    border-radius: 5px;
    border-color: #c0c9d4;
    margin-top: 10px;
}

.block-divider-fixtures {
    width: 40%;
    height: 2px;
    border: 0;
    background-color: #ee0946;
    margin-top: 60px;
    margin-bottom: 60px;
}

.bundesliga-table {
    margin: 0;
    padding: 0 !important;
}

.table-entry {
    padding-top: 10px !important;
}

.home-column {
    text-align: center;
}

.away-column {
    text-align: center;
}

.match-score-odd {
    background-color: white;
    height: 25px;
    width: 35px;
    border-style: solid;
    border-width: .3px;
    border-radius: 5px;
    border-color: #c0c9d4;
    text-align: center;
    margin-top: 15px;
}

.match-score-even {
    background-color: white;
    height: 25px;
    width: 35px;
    border-style: solid;
    border-width: .3px;
    border-radius: 5px;
    border-color: #c0c9d4;
    text-align: center;
    margin-top: 15px;
}

/* ---------------------------------------------------- Table */

.top-pic-table {
    height: 130px;
    background-image: url('../images/flagge.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.current-table {
    padding-top: 20px;
}

.current-table h2 {
    padding-bottom: 5px;
}

.bundesliga-table {
    margin-top: 30px;
}

/* ---------------------------------------------------- Media Queries */

@media (min-width:354px) {
    .top-header {
        font-size: 30px;
        top: 65%;
    }
}

@media (max-width:553px) {
    .top-pic-team {
        width: 100%;
        height: auto;
        max-height: 250px;
        margin-bottom: 20px;
        padding: 0;
    }
    .box-desktop {
        display: none;
    }
    .fixtures-desktop {
        display: none;
    }
    .table-desktop {
        display: none;
    }
}

@media (min-width:554px) {
    .intro-header {
        padding-top: 120px;
        font-size: 50px;
    }
    .intro-subheader {
        font-size: 35px;
    }
    .sub-title {
        padding-left: 40px;
        padding-right: 40px;
    }
    .top-pic-about {
        height: 250px;
    }
    .top-header {
        top: 82%;
    }
    .top-pic-team {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        padding: 0;
    }
    .top-pic-fixtures {
        height: 250px;
    }
    .box-mobile {
        display: none;
    }
    .fixtures-mobile {
        display: none;
    }
    .top-pic-table {
        height: 250px;
    }
    .table-mobile {
        display: none;
    }
}

@media (max-width:575px) {
    .navbar .navbar-nav {
        background-color: #d3d3d3;
        padding-left: 31px;
    }
}

@media (min-width:708px) {
    .sub-title {
        padding-top: 30px;
    }
    .container-current-champs {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-text {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (min-width:760px) {
    
}

@media (min-width:1030px) {
    .container-current-champs {
        padding-left: 100px;
        padding-right: 100px;
    }
    .about-text {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}